<div class="container">
  <h1 class="text-4xl font-bold">Short URL Details</h1>

  <p><strong>Original URL:</strong> <%= @url.original_url %></p>
  <p><strong>Short URL:</strong> <%= @url.short_url %></p>
  
  <div class="flex mt-10">
    <%= link_to 'Create another short url!', root_path, class:"back-btn" %>
    <%= link_to 'URL', @url.original_url, class: "go-btn" %>
  </div>
</div>
